<nav class="bg-yellow-500 flex justify-around items-center p-4 sticky top-0 w-full z-50" >
    <span class="font-bold" >Ng Guitar</span>
    <ng-container *ngIf="user !== undefined">
        <ul class="flex" >
            <li class="px-4" >
              <a routerLink="/guitars">Guitar</a>
            </li>
            <li>
              <a routerLink="/profile">Profile</a>
            </li>
        </ul>
        <app-logout-button></app-logout-button>
       

    </ng-container>

</nav>
<!-- //fixed -->
<!-- <ng-container *ngIf="user !== undefined"> in react { ...true && } -->